body {
    font-family: 'Raleway';font-size: 22px;
    font-size: 22px;
    margin: 3%;
    text-align: center;
}

h1 {
    margin-top: 8%;
}

h2 {
    margin-bottom: 8%;
    font-size: 24px;
}

h3 {
    margin: 8%;
    font-size: 18px;
    padding-top: 70px;

}

p{
    display: inline-block;
}


.fruit-btn{
    background-color:#DB8C23;
    border:none;
    padding:0.7rem 1rem;
    margin:0.5rem;
    color:white;
    display:inline-block;
    font-size:18px;
}

.left {
    float: left;
    width: 60%;
    overflow:auto;

}

.right {
    float: left;
}

.start-button {
    /* background-color: #FF5733; /* Green */
    background-color: #0db5ba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    margin: 10px
}

.webcam {
    width: 60%;
    border:2px; 
    border-style:solid; 
    border-color:#B8B8B8; 
    padding: 1px; 
    width: 720px; 
    height: 540px;
    margin:1% 2% 1% 2%
}

.prediction {
    font-size: 18px;
}

.item-amount{
    border:2px; 
    border-style:solid; 
    border-color:#B8B8B8; 
    padding: 10px 20px 10px 20px; 
    width: 430px; 
    margin:1% 2% 1% 2%;
    text-align: left;
    font-family: 'Raleway';font-size: 22px;
}

.item-list{
    border:2px; 
    border-style:solid; 
    border-color:#B8B8B8; 
    padding: 10px 20px 10px 20px; 
    width: 430px; 
    height: 480px;
    margin:1% 2% 1% 2%;
    text-align: left;
}

.cto-button {
    /* background-color: #FF5733; /* Green */
    background-color: #0db5ba;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    width: 472px; 
    margin:1% 2% 1% 2%
}

.payment-text {
    padding: 25px;
    margin-top: 150px;
    font-size: 28px;
    font-weight: bold;
}

.price {
    float: right; 
    font-size: 20px;}

.total-price {
    float: right; 
    font-size: 20px;  
    font-weight: bolder;
    font-size: 24px;
}

.total{
    font-size: 22px;  
    border:2px; 
    border-style:solid; 
    border-color:#B8B8B8; 
    padding: 10px 20px 10px 20px; 
    width: 430px; 
    margin:1% 2% 1% 2%;
    text-align: left;
    font-weight: bolder;
}

.purchase-text {
    padding: 25px;
    margin-top: 150px;
    font-size: 28px;
    font-weight: bolder;
    color: #0db5ba;
}

.delete {
    float: right; 
    font-size: 20px; 
    font-weight: bolder;
}

.decrement{
    float: right; 
    font-size: 20px; 
    font-weight: bolder;
    margin:22px auto;
    
}

.prediction {
    padding: 5px;
    font-size: 24px;
    font-weight: bolder;
    /* border:2px; 
    border-style:solid; 
    border-color:#B8B8B8; */
}

.shopping-cart {
    text-align: left;

}

#total-count{
    font-family: 'Raleway';font-size: 22px;
}
